@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#app {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--p-primary-400);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--p-primary-600);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--p-primary-400);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--p-primary-300);
}